$card__margin: 20px
$card__tablet-margin: 10px
$card-wide-side-padding: 130px

.cards
  display: flex
  flex-wrap: wrap
  margin: -$card__margin

  @media (max-width: 1024px)
    margin: -$card__tablet-margin

.card
  margin: $card__margin
  position: relative
  background-color: #f9f9f9
  padding: 123px 30px 40px
  width: calc((100% - 3 * 2 * #{$card__margin}) / 3)

  &::before
    content: ''
    position: absolute
    top: 25px
    left: 30px
    width: 100px
    height: 100px
    background-repeat: no-repeat

    @media (max-width: 767px)
      left: 50%
      transform: translateX(-50%)

  @media (max-width: 1024px)
    margin: $card__tablet-margin
    padding: 123px 20px 30px
    width: calc((100% - 3 * 2 * #{$card__tablet-margin}) / 3)

  @media (max-width: 980px)
    width: calc((100% - 2 * 2 * #{$card__tablet-margin}) / 2)

  @media (max-width: 767px)
    width: 100%
    text-align: center

.card--all-in-one::before
  background-image: url('../images/icons/all-in-one.svg')

  @media (max-width: 767px)
    width: 94px
    height: 74px

.card--notification::before
  background-image: url('../images/icons/notification.svg')

  @media (max-width: 767px)
    width: 64px
    height: 74px

.card--analysis::before
  background-image: url('../images/icons/analysis.svg')

  @media (max-width: 767px)
    height: 80px

.card--export::before
  background-image: url('../images/icons/export.svg')

  @media (max-width: 767px)
    width: 70px
    height: 76px

.card--demo::before
  background-image: url('../images/icons/demo.png')
  background-size: contain

  @media (max-width: 767px)
    background-position-x: 10px

.card--mobile::before
  background-image: url('../images/icons/mobile.svg')

  @media (max-width: 767px)
    width: 90px
    height: 80px

.card--wide
  width: calc((100% - 2 * 2 * #{$card__margin}) / 2)
  display: flex
  min-height: 300px
  padding: 0

  @media (max-width: 1024px)
    width: 100%

  @media (max-width: 1024px)
    text-align: left

  @media (max-width: 767px)
    flex-direction: column

.card__header
  position: relative
  width: 110px
  border-right: 1px solid #000

  @media (max-width: 767px)
    width: 100%
    border-right: none
    border-bottom: 1px solid #000
    text-align: center

.card__heading
  font-size: 30px

.card__heading--rotated
  position: absolute
  top: 0
  right: 100%
  margin-right: -20px
  margin-top: 30px
  transform: rotate(270deg)
  transform-origin: top right

  @media (max-width: 767px)
    position: static
    transform: none
    margin-right: 0

.card__list
  width: 50%

.card__list-item
  padding-left: 20px
  position: relative
  font-size: 16px
  line-height: 22px
  font-family: 'Gilroy', sans-serif
  font-weight: 100
  margin-bottom: 10px

  &::before
    content: ''
    position: absolute
    left: 0
    top: 50%
    transform: translateY(-50%)
    width: 10px
    height: 10px
    color: #111316
    background-image: url('../images/icons/checkmark-pink.png')
    background-size: contain
    background-repeat: no-repeat

.card__container--inner
  display: flex

  @media (max-width: 450px)
    flex-direction: column

.card__price-block
  display: flex
  justify-content: space-between
  align-items: center
  margin-top: auto

  @media (max-width: 600px)
    flex-direction: column
    margin-top: 20px

.card__container--outer
  display: flex
  flex-direction: column
  padding: 30px 60px
  width: 100%

  @media (max-width: 1280px)
    padding: 20px 40px

  @media (max-width: 1024px)
    padding: 30px 60px

  @media (max-width: 600px)
    padding: 20px
    align-items: center

.card__btn
  width: 50%

  @media (max-width: 600px)
    margin-top: 15px
