$companies__list-item-bottom-margin: 20px

.companies-list
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
  opacity: .7

  @media (max-width: 1280px)
    margin-bottom: -$companies__list-item-bottom-margin

  @media (max-width: 767px)
    justify-content: space-around

.companies-list__item
  @media (max-width: 1280px)
    margin-bottom: $companies__list-item-bottom-margin
    width: calc(100% / 3)
    text-align: center

  @media (max-width: 767px)
    display: inline-flex
    align-items: center
    justify-content: center
    width: 50%
    margin-bottom: 20px

.companies-list__img
  @media (max-width: 767px)
    transform: scale(0.8)
