@font-face
  font-family: 'Gilroy'
  font-weight: lighter
  src: url('../fonts/Gilroy-Light.otf')

@font-face
  font-family: 'Gilroy'
  font-weight: normal
  src: url('../fonts/Gilroy-Regular.woff2')
