.text--xlarge
  font-size: 28px
  line-height: 48px

  @media (max-width: 1024px)
    font-size: 22px
    line-height: 38px

.text--large
  font-size: 24px
  line-height: 42px

  @media screen and (max-width: 1600px)
    font-size: 22px
    line-height: 38px

  @media (max-width: 1024px)
    font-size: 20px
    line-height: 32px

  @media (max-width: 480px)
    font-size: 16px
    line-height: 24px

.text--small
  font-size: 18px
  line-height: 28px

  @media (max-width: 1024px)
    font-size: 16px
    line-height: 26px

.text--xsmall
  font-size: 16px
  line-height: 22px

  @media (max-width: 1024px)
    font-size: 15px
    line-height: 19px

.text--xxsmall
  font-size: 12px
  line-height: 22px

.text--light
  color: #fff

.text--rotated
  position: absolute
  left: 0
  top: 10%
  transform-origin: top right

.text--expert
  transform: rotate(270deg) translateY(-250%)

.text--professional
  transform: rotate(270deg) translateY(-450%)

.text--price
  font-size: 30px
  line-height: 30px
  color: $pink

.text--price-period
  font-size: 17px
  line-height: 30px

.text--light-grey
  opacity: .5
  color: $dark-grey
