doctype html
html(lang="en")
  head
    include scripts/ga.html
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    meta(property="og:url" content="https://reviewpilot.net")
    meta(property="og:type" content="website")
    meta(property="og:title" content="Reviewpilot: Единая платформа для управления отзывами")
    meta(property="og:description" content="Управляйте отзывами из разных социальных сетей в одной платформе. Улучшайте свой бизнес с помощью обратной связи от клиентов.")
    meta(property="og:image" content="https://reviewpilot.net/images/facebook_cover.png")
    meta(name="title" content="Reviewpilot: Единая платформа для управления отзывами")
    meta(name="description" content="Управляйте отзывами из разных социальных сетей в одной платформе. Улучшайте свой бизнес с помощью обратной связи от клиентов.")
    link(rel="stylesheet" href="./css/main.css")
    link(rel="icon" href="./favicons/favicon.ico")
    link(rel="icon" href="./favicons/favicon-16x16.png")
    link(rel="icon" href="./favicons/favicon-32x32.png")
    link(rel="icon" href="./favicons/apple-touch-icon.png")
    link(rel="icon" href="./favicons/android-chrome-512x512.png")
    link(rel="icon" href="./favicons/android-chrome-192x192.png")
    title #{$t.titles.meta}
    include scripts/pixel.html
  body
    include templates/header.pug
    include templates/home-section.pug
    include templates/how-it-works.pug
    include templates/advantages.pug
    include templates/clients-logos.pug
    include templates/plans.pug
    include templates/opinions.pug
    include templates/demo-modal.pug
    include templates/footer.pug

    script(src="./js/index.js")
