doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    link(rel="stylesheet" href="./css/main.css")
    title Reviewpilot
  body
    include templates/header.pug
    include templates/home-section.pug
    include templates/how-it-works.pug
    include templates/advantages.pug
    include templates/opinions.pug
    include templates/demo-modal.pug
    include templates/footer.pug

    script(src="./js/index.js")
