section#advantages.section.section--no-border
  .container
    h5 Преимущества
    h2.short-heading Работайте эффективнее с аудиторией вашего бизнеса в социальных сетях

    .cards
      .card.card--all-in-one
        h4 Все в одной платформе
        p.text.text--small читайте и отвечайте на отзывы разных социальных сетей из одного приложения
      .card.card--notification
        h4 Уведомления
        p.text.text--small получайте email уведомления о каждом новом отзыве
      .card.card--analysis
        h4 Полный анализ
        p.text.text--small анализируйте сильные и слабые стороны вашего бизнеса
      .card.card--export
        h4 Экспорт в Exel
        p.text.text--small экспортируйте отзывы и статистику всех заведений в Excel
      .card.card--demo
        h4 Демо-версия
        p.text.text--small попробуйте бесплатный период использования приложения
      .card.card--mobile
        h4 Mобильная версия
        p.text.text--small полный функционал приложения  с любого устройства
