section#advantages.section.section--no-border
  .container
    h5 Преимущества
    h2.short-heading Работайте эффективнее с аудиторией вашего бизнеса в социальных сетях

    .cards
      .card.card--all-in-one
        h4 Все в одной платформе
        p.text.text--small читайте и отвечайте на отзывы разных социальных сетей из одного приложения
      .card.card--notification
        h4 Уведомления
        p.text.text--small получайте быстрые уведомления о каждом новом отзыве
      .card.card--analysis
        h4 Полный анализ
        p.text.text--small анализируйте сильные и слабые стороны вашего бизнеса
      .card.card--export
        h4 Экспорт в Excel
        p.text.text--small экспортируйте отзывы и статистику всех заведений в Excel
      .card.card--demo
        h4 Попробуйте бесплатно
        p.text.text--small пользуйтесь полной версией бесплатно в течение 14 дней
      .card.card--mobile
        h4 Google My Business
        p.text.text--small полная интеграция с GMB
