section.section.section--grey
  .container
    ul.logos-list
      li.logos-list__item
        img.logos-list__img(src="./images/client-logos/vyshnya.png")
      li.logos-list__item
        img.logos-list__img(src="./images/client-logos/rebernya.png")
      li.logos-list__item
        img.logos-list__img(src="./images/client-logos/pravda.png")
      li.logos-list__item
        img.logos-list__img(src="./images/client-logos/mazoh.png")
      li.logos-list__item
        img.logos-list__img(src="./images/client-logos/dimlegend.png")
      li.logos-list__item
        img.logos-list__img(src="./images/client-logos/poshta.png")
      li.logos-list__item
        img.logos-list__img(src="./images/client-logos/kryyivka.png ")
      li.logos-list__item
        img.logos-list__img(src="./images/client-logos/terrace.png")
      li.logos-list__item
        img.logos-list__img(src="./images/client-logos/roastery.png")
      li.logos-list__item
        img.logos-list__img(src="./images/client-logos/travelers.png")
      li.logos-list__item
        img.logos-list__img(src="./images/client-logos/reef.png")
      li.logos-list__item
        img.logos-list__img(src="./images/client-logos/sabaneev.png")
