section.section.section--grey
  .container
    ul.logos-list
      li.logos-list__item
        img.logos-list__img(src="./images/client-logos/vyshnya.svg")
      li.logos-list__item
        img.logos-list__img(src="./images/client-logos/rebernya.svg")
      li.logos-list__item
        img.logos-list__img(src="./images/client-logos/pravda.svg")
      li.logos-list__item
        img.logos-list__img(src="./images/client-logos/mazoh.svg")
      li.logos-list__item
        img.logos-list__img(src="./images/client-logos/dimlegend.svg")
      li.logos-list__item
        img.logos-list__img(src="./images/client-logos/poshta.svg")
      li.logos-list__item
        img.logos-list__img(src="./images/client-logos/kryyivka.svg")
      li.logos-list__item
        img.logos-list__img(src="./images/client-logos/terrace.svg")
      li.logos-list__item
        img.logos-list__img(src="./images/client-logos/roastery.svg")
      li.logos-list__item
        img.logos-list__img(src="./images/client-logos/travelers.svg")
      li.logos-list__item
        img.logos-list__img(src="./images/client-logos/reef.svg")
      li.logos-list__item
        img.logos-list__img(src="./images/client-logos/sabaneev.svg")
