.modal.fade#demo-modal(tabindex="-1")
  .modal-dialog
    .modal-content
      .modal-body
        button.close(data-dismiss="modal")
          img(src="./images/icons/close-icon.svg")
        img.modal__logo(src="./images/logo.svg")
        .modal-body__form
          p.modal__text #{$t.text.fill_the_form}

          form#demo-form(novalidate)
            input.modal__input#email(type="email" name="lead[email]" placeholder=$t.placeholders.email)
            input.modal__input(type="phone" name="lead[phone]" placeholder=$t.placeholders.phone)
            input.modal__input(type="text" name="lead[name]" placeholder=$t.placeholders.name)
            textarea.modal__input(placeholder=$t.placeholders.comment cols="15" name="lead[comment]" rows="10")
            button.modal__input.modal__input--submit.btn.btn--primary#demo-submit(type="submit")
              | #{$t.buttons.get_demo}
              .spinner
                .bounce1
                .bounce2
                .bounce3
        .modal-body__success
          p.modal__text #{$t.text.we_will_get_in_touch}
