footer.footer
  .container.footer__container
    ul.footer__social-list
      li.footer__social-list-item
        a.footer__social-list-link.sprite.sprite-facebook(href='https://www.facebook.com/reviewpilotdotnet' target="_blank")
      li.footer__social-list-item
        a.footer__social-list-link.sprite.sprite-instagram(href='https://instagram.com/reviewpilotdotnet' target="_blank")
      li.footer__social-list-item
        a.footer__social-list-link(href='mailto:reviewpilot@mail.com') why@reviewpilot.net
      li.footer__social-list-item
        span.footer__social-list-link +38 (066) 825-03-12

    ul.footer__lang-list
      li.footer__lang-list-item
        a.footer__lang-list-link(href='/' data-lang='ru') Русский
      li.footer__lang-list-item
        a.footer__lang-list-link(href='/ua' data-lang='ua') Українська

    .footer__copyright
      | Copyright &copy; 2018-2020 &mdash; FOP Yuriy Omelchuk
