footer.footer
  .container.footer__container
    ul.footer__social-list
      li.footer__social-list-item
        a.footer__social-list-link(href='https://www.facebook.com/reviewpilotdotnet') Facebook
      li.footer__social-list-item
        a.footer__social-list-link(href='mailto:reviewpilot@mail.com') why@reviewpilot.net

    ul.footer__lang-list.hidden
      li.footer__lang-list-item
        a.footer__lang-list-link.footer__lang-list-link--active(href='#') Русский
      li.footer__lang-list-item
        a.footer__lang-list-link(href='#') Українська
      li.footer__lang-list-item
        a.footer__lang-list-link(href='#') English
