section#how-it-works.section
  .container
    h5 Как это работает

    .section__columns
      .section__column
        h3 Reviewpilot отслеживает отзывы в профилях вашего бизнеса в социальных сетях ...
        p
          | Клиенты оставляют свое мнение о вашем бизнесе на платформах для отзывов и социальных площадках.
          | Наши алгоритмы собирают эту информацию и помогают вам учитывать все рекомендации и пожелания клиентов.
      .section__column
        h3 ... и позволяет быстро на них реагировать, увеличивая лоальность к бренду
        p Вы сможете получать уведомления о новых отзывах и своевременно на них отвечать прямо с платформы.

    ul.companies-list
      li.companies-list__item
        img.companies-list__img.companies-list__img--booking(src="./images/booking_logo.svg")
      li.companies-list__item
        img.companies-list__img.companies-list__img--fb(src="./images/facebook_logo.svg")
      li.companies-list__item
        img.companies-list__img.companies-list__img--google(src="./images/google_logo.svg")
      li.companies-list__item
        img.companies-list__img.companies-list__img--tripadvisor(src="./images/tripadvisor_logo.svg")
      li.companies-list__item
        img.companies-list__img.companies-list__img--foursquare(src="./images/foursquare_logo.svg")
      li.companies-list__item
        img.companies-list__img.companies-list__img--2gis(src="./images/2gis_logo.svg")
