section.section.section--grey.section--centered.section--extra-height
  .container
    .section__block
      h2 Прислушайтесь к мнению своих клиентов
      p Читайте и анализируйте все отзывы ваших клиентов в одном приложении и улучшайте свой бизнес
    button.btn.btn--primary(
      data-toggle="modal"
      data-target="#demo-modal"
      data-keyboard="true"
    )
      | Запросить демо
