section.section
  .container
    .section__columns
      .section__column.section__column--centered
        .accented-label new
        h3 #{$t.titles.realtime_feedback}
        p #{$t.text.post_qr_code_review}
      .section__column.mobile-hidden
        img.section__column-image(src="./images/phone-qr.png")
